@import 'init';

/***********************************************************************
utility rule
**********************************************************************/

/* clearfix
----------------------------------------------------------------------*/

.u-cf:after {
  display: block;
  clear: both;
  content: '';
}

/* imghover
----------------------------------------------------------------------*/

.u-ov:hover img {
  opacity: .8;
}

/* linkTxt01
----------------------------------------------------------*/
a.u-linkTxt01 {
  @include linkTxt01;
}

/* linkTxt02
----------------------------------------------------------*/
a.u-linkTxt02 {
  @include linkTxt02;
}



/* margin
----------------------------------------------------------*/
.u-mb10 {
  margin-bottom: 10px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mb30 {
  margin-bottom: 30px;
}


/* align
----------------------------------------------------------*/
.u-align-left {
  text-align: left;
}
.u-align-center {
  text-align: center;
}
.u-align-right {
  text-align: right;
}
